<%= form_with(model: userteam, local: true) do |form| %>
  <% if userteam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userteam.errors.count, "error") %> prohibited this userteam from being saved:</h2>

      <ul>
        <% userteam.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
